html,
body {
  font-family: Lato, sans-serif;
  color: #1e212c;
  font-size: 16px;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding: 0 0 178px 0;
}

.orange-button {
  display: inline-block;
  background: linear-gradient(45deg, #ff3f3a, #f75e05);
  border-radius: 4px;
  color: #fff;
  padding: 0 40px;
  line-height: 52px;
  letter-spacing: 0.5px;
  transition: 0.3s;
  font-weight: 700;
}

.alt-button {
  display: inline-block;
  line-height: 50px;
  border-radius: 4px;
  padding: 0 40px;
  letter-spacing: 0.5px;
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
  font-weight: 700;
  transition: 0.3s;
}

.orange-button:hover,
.alt-button:hover {
  transform: scale(1.03);
}

/********************************************************************/

.header {
  background: url(../img/decor/shapes-bg.svg) 50% 45% / auto no-repeat,
    linear-gradient(
      55.95deg,
      rgba(255, 63, 58, 0.2) 0%,
      rgba(247, 94, 5, 0.2) 100%
    );
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: #424551;
  padding: 20px 0;
  white-space: nowrap;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
  transition: color 0.3s;
}

.header__nav-item:hover {
  color: #ff3f3a;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__consultation-btn {
  margin-right: 36px;
}

.header__user-btn {
  line-height: 1.6;
}

.header__user-btn::before {
  content: "";
  background: url(../img/icons/user.svg) 0 0 / 100% 100%;
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-right: 8px;
}

.header__user-btn-item {
  transition: color 0.3s;
}

.header__user-btn-item:hover {
  color: #ff3f3a;
}

/********************************************************************/

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__body-main {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.header__body-left {
  margin-right: 20px;
}

.header__play-video {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 40px;
  white-space: nowrap;
}

.header__play-video-icon {
  transition: box-shadow 0.3s;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}

.header__play-video-icon:hover {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__body-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 60px;
  max-width: 496px;
}

.header__body-btn-box {
  display: flex;
  white-space: nowrap;
}

.header__about-btn-item {
  margin-right: 24px;
}

.header__body-row {
  margin-bottom: 80px;
}

.header__row-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.header__row-item {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-weight: 900;
  margin-right: 12px;
  line-height: 1.3;
  font-size: 2.875rem;
}

.header__row-ellipse {
  background-color: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 15px;
}

/********************************************************************/

.main {
  display: flex;
  flex-direction: column;
}

.about__createx {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 180px;
  position: relative;
}

.about__createx::before {
  display: block;
  content: "";
  position: absolute;
  top: -119px;
  right: -220px;
  background: url("../img/decor/1.svg");
  width: 100px;
  height: 85px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 20px;
}

.about__heading {
  margin-bottom: 48px;
}

.subtitle {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.title {
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 1.3;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph__accent {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 24px;
}

.about__paragraph:nth-child(2) {
  font-weight: 400;
  color: #424551;
  line-height: 1.6;
}

.about__content-btn {
  margin-right: 24px;
}

.about__content-btn:last-child {
  margin-right: 0;
}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__values-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.about__picture-box {
  overflow: hidden;
}

.about__values-list {
  margin-left: 20px;
  align-self: center;
}

.about__values-item {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.125rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about__values-item:last-child {
  margin-bottom: 0;
}

.about__values-item span {
  font-weight: 900;
  color: #ff3f3a;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-right: 16px;
}

/********************************************************************/

.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: "";
  position: absolute;
  top: 23px;
  left: -201px;
  width: 136px;
  height: 115px;
  background: url("../img/decor/2.svg") 0 0 no-repeat;
}

.directions__inner::after {
  content: "";
  position: absolute;
  top: 362px;
  right: -445px;
  width: 242px;
  height: 242px;
  background: url("../img/decor/3.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.directions__heading {
  margin-bottom: 90px;
}

.directions__heading--center {
  text-align: center;
}

.directions__filter-box {
  display: flex;
  margin-bottom: 56px;
  white-space: nowrap;
}

.directions__filter-item {
  margin-right: 45px;
}

.directions__filter-item:last-child {
  margin-right: 0;
}

.directions__filter-btn {
  padding: 1px 8px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.6;
  color: #9a9ca5;
  border: 1px solid #9a9ca5;
  background-color: transparent;
}

.directions__filter-btn__active {
  background: linear-gradient(45deg, #ff3f3a, #f75e05);
  color: #fff;
  border: none;
  padding: 2px 9px;
}

.directions__list {
  display: grid;
  grid-template:
    repeat(2, auto) /
    repeat(3, 1fr);
  grid-gap: 30px;
}

.directions__list-item {
  border-radius: 4px;
  border: 1px solid #e5e8ed;
  transition: box-shadow 0.3s;
}

.directions__list-item:hover {
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.8),
    0 30px 24px -10px rgba(154, 156, 165, 0.5),
    0 12px 10px -6px rgba(154, 156, 165, 0.4),
    0 4px 4px -4px rgba(30, 33, 44, 0.3);
  transition: 0.5s;
}

.directions__list-item__empty:hover {
  box-shadow: none;
}

.directions__image-box img {
  width: 100%;
  height: 100%;
}

.directions__list-content {
  padding: 24px;
}

.direction__link-tag {
  font-weight: 700;
  border-radius: 4px;
  padding: 1px 8px;
  color: #fff;
  line-height: 1.6;
  display: inline-block;
  margin-bottom: 20px;
}

.direction__link-tag__marketing {
  background-color: #03cea4;
}

.direction__link-tag__managment {
  background-color: #5a87fc;
}

.direction__link-tag__hr {
  background-color: #f89828;
}

.direction__link-tag__design {
  background-color: #f52f6e;
}

.direction__link-tag__development {
  background-color: #7772f1;
}

.direction__list-text {
  color: #787a80;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 20px;
}

.directions__link-btn {
  line-height: 1.6;
  font-weight: 700;
  transition: 0.3s;
}

.directions__link-btn:hover {
  color: #ff3f3a;
}

.directions__link-btn::after {
  content: "";
  display: inline-block;
  background: url("../img/icons/arrow-right.svg");
  width: 18px;
  height: 12px;
  margin-left: 12px;
}

.directions__list-item__empty {
  color: #424551;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.directions__list-item__empty span {
  max-width: 242px;
}

/*===========================CERTIFICATE============================*/
/*===========================CERTIFICATE============================*/

.main__cert {
  margin-bottom: -46px;
}

.cert__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cert__inner::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;

  position: absolute;
  top: -19px;
  left: -156px;

  background: url("../img/decor/4.svg") 0 0 no-repeat;
}

.cert__content {
  margin-right: 20px;
  max-width: 392px;
}

.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  font-weight: 400;
  line-height: 1.6;
  color: #424551;
  max-width: 390px;
  margin-bottom: 32px;
}

.cert__brands {
  display: flex;
}

.cert__brands-item {
  margin-right: 40px;
}

.cert__brands-item:last-child {
  margin-right: 0;
}

.cert__picture-box {
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.16),
    0 30px 24px -10px rgba(154, 156, 165, 0.1),
    0 12px 10px -6px rgba(154, 156, 165, 0.8),
    0 4px 4px -4px rgba(154, 156, 165, 0.5);
}
