html,
body {
    font-family: Lato, sans-serif;
    color: #1E212C;
    font-size: 16px;
    background-color: #fff;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.orange-button {
    display: inline-block;
    background: linear-gradient(45deg, #FF3F3A, #F75E05);
    border-radius: 4px;
    color: #fff;
    padding: 0 40px;
    line-height: 52px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-weight: 700;
}

.alt-button {
    display: inline-block;
    line-height: 50px;
    border-radius: 4px;
    padding: 0 40px;
    letter-spacing: 0.5px;
    border: 1px solid #FF3F3A;
    color: #FF3F3A;
    font-weight: 700;
    transition: 0.3s;
}

.orange-button:hover, .alt-button:hover {
    transform: scale(1.03);
}

/********************************************************************/

.header {
    background: url(../img/decor/shapes-bg.svg) 50% 45% / auto no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: #424551;
    padding: 20px 0;
    white-space: nowrap;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
    transition: color 0.3s;
}

.header__nav-item:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__consultation-btn {
    margin-right: 36px;
}

.header__user-btn {
    line-height: 1.6;
}

.header__user-btn::before {
    content: "";
    background: url(../img/icons/user.svg) 0 0 / 100% 100%;
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    margin-right: 8px;
}

.header__user-btn-item {
    transition: color 0.3s;
}

.header__user-btn-item:hover {
    color: #FF3F3A;
}

/********************************************************************/

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__body-main {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.header__body-left {
    margin-right: 20px;
}

.header__play-video {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: 40px;
    white-space: nowrap;
}

.header__play-video-icon {
    transition: box-shadow 0.3s;
    border-radius: 50%;
    margin-right: 16px;
    cursor: pointer;
}

.header__play-video-icon:hover {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__body-title {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 60px;
    max-width: 496px;
}

.header__body-btn-box {
    display: flex;
    white-space: nowrap;
}

.header__about-btn-item {
    margin-right: 24px;
}

.header__body-row {
    margin-bottom: 80px;
}

.header__row-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.header__row-item {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.header__row-item span {
    font-weight: 900;
    margin-right: 12px;
    line-height: 1.3;
    font-size: 2.875rem;
}

.header__row-ellipse {
    background-color: #FF3F3A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 15px;
}

/********************************************************************/

.main {
    display: flex;
    flex-direction: column;
}

.about {
    padding: 180px 0 160px;
}

.about__createx {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 180px;
    position: relative;
}

.about__createx::before {
    display: block;
    content: "";
    position: absolute;
    top: -119px;
    right: -220px;
    background: url("../img/decor/1.svg");
    width: 100px;
    height: 85px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: 20px;
}

.about__heading {
    margin-bottom: 48px;
}

.heading__subtitle {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.heading__title {
    font-weight: 900;
    font-size: 2.875rem;
    line-height: 1.3;
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph__accent {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 24px;
}

.about__paragraph:nth-child(2) {
    font-weight: 400;
    color: #424551;
    line-height: 1.6;
}

.about__content-btn {
    margin-right: 24px;
}

.about__content-btn:last-child {
    margin-right: 0;
}

.about__values {
    display: flex;
    justify-content: space-between;
}

.about__values-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.about__values-list {
    margin-left: 20px;
    align-self: center;
}

.about__values-item {
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about__values-item:last-child {
    margin-bottom: 0;
}

.about__values-item span {
    font-weight: 900;
    color: #FF3F3A;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-right: 16px;
}